<div class="container" *ngIf="loginActivity">
  <div class="row justify-content-md-center">
    <mat-card class="mt-5 mb-3 col-md-12 col-10">
      <mat-card-header>
        <mat-card-title>Login History</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="loginActivity.edges" *ngIf="loginActivity" class="mat-elevation-z8 w-100 mt-3 mb-3" multiTemplateDataRows>

          <!-- IP Address Column -->
          <ng-container matColumnDef="ip">
            <th mat-header-cell *matHeaderCellDef> IP Address </th>
            <td mat-cell *matCellDef="let element"> {{element.node.ip}} </td>
          </ng-container>

          <!-- Success Column -->
          <ng-container matColumnDef="success">
            <th mat-header-cell *matHeaderCellDef> Successful </th>
            <td mat-cell *matCellDef="let element"> {{element.node.success}} </td>
          </ng-container>

          <!-- Created At Column -->
          <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef> Timestamp </th>
            <td mat-cell *matCellDef="let element"> {{element.node.createdAt | date:'MMM d, y, h:mm a'}} </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="login-activity-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="container pe-0 ps-0">
                  <div class="row mb-2">
                    <div class="col-md-2 fw-bold">Identity:</div>
                    <div class="col-md-10">{{element.node.identity}}</div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-md-2 fw-bold">User Agent:</div>
                    <div class="col-md-10">{{element.node.userAgent}}</div>
                  </div>

                  <div class="row mb-2" *ngIf="element.node.failureReason">
                    <div class="col-md-2 fw-bold">Failure Reason:</div>
                    <div class="col-md-10">{{element.node.failureReason}}</div>
                  </div>

                  <div class="row mb-2" *ngIf="element.node.city">
                    <div class="col-md-2 fw-bold">City:</div>
                    <div class="col-md-10">{{element.node.city}}</div>
                  </div>

                  <div class="row mb-2" *ngIf="element.node.region">
                    <div class="col-md-2 fw-bold">Region:</div>
                    <div class="col-md-10">{{element.node.region}}</div>
                  </div>

                  <div class="row mb-2" *ngIf="element.node.country">
                    <div class="col-md-2 fw-bold">Country:</div>
                    <div class="col-md-10">{{element.node.country}}</div>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="login-activity-row"
              [class.login-activity-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="login-activity-detail-row"></tr>
        </table>

        <mat-paginator [length]="loginActivity.totalCount"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       (page)="pageEvent($event)">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div> <!-- .row -->
</div> <!-- .container -->
